<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
      body { font-family: "{{ font_family }}", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .bg-dark { background-color: "{{ navbar_color }}"; }
      a, .btn-link { color: "{{ link_color }}"; }
      a:hover, .btn-link:hover { filter: brightness(.85); color: "{{ link_color }}"; }
    </style>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="card my-10">
        <div class="bg-dark text-white h-16 p-2">
          <img src="{{ url_for('/header_logo') }}"
               class="h-9"
               alt="{{ header_name }}"/>
        </div>
        <div class="card-body">
          {% block body %}
          {% endblock body %}
          <hr/>
          <p class="text-xs">
            You received this email to let you know about important changes to your {{ header_name }} Account.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
