{% extends 'email_layout.html' %}
{% block body %}
  <h1>
    <a>{% trans username=(user.fullname or user.username) %}Hey {{ username }},{% endtrans %}</a>
  </h1>
  <p>
    <a>{% trans %}A new access token, named "{{ name }}", has been created.{% endtrans %}</a>
  </p>
  <p>
    {% trans %}If you did not make this change and believe your account has been compromised, please contact your administrator.{% endtrans %}
  </p>
{% endblock body %}
